<footer>
    <div class="footer-container">
        <div class="footer-logo">
                        <div class="footer-img">
                              <a href="./club">  <img src="../../../assets/Grupo 46.svg" alt="logo da hausz"></a>
                                <p>Siga-nos</p>
                                <div class="logo-ul">
                                    <ul>
                                        <li> <a href="http://" target="_blank" rel="noopener noreferrer"> <img src="../../../assets/facebook.svg" alt="facebook"> </a></li>
                                        <li> <a href="http://" target="_blank" rel="noopener noreferrer"> <img src="../../../assets/instagram.svg" alt="instagram"> </a></li>
                                        <li> <a href="http://" target="_blank" rel="noopener noreferrer"> <img src="../../../assets/linkedin.svg" alt="linkedin"> </a></li>
                                    </ul>
                                </div>
                    </div>
        </div>
        <div class="footer-list">
            <div class="sobre">
                <h4>Sobre Nós</h4>
                <a>Quem somos</a>
                <a>O Club</a>
            </div>
            <div class="sobre">
                <h4>Pilitícas</h4>
                <a>Política de Privacidade</a>
            </div>
            <div class="sobre">
                <h4>Fale Conosco</h4>
                <a href="mailto: contato@easyarquitetura.com.br" >contato@easyarquitetura.com.br</a>
                <a>(11) 00000 0000</a>
            </div>
        </div>
        
    </div>

</footer>