section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h3 {
        width: 100%;
        text-align: center;
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #111512;
        margin-top: 37px;


    }

    p {
        width: 343px;
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #364c56;
        margin-bottom: 24px;

    }

    form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);



        .btn {
            width: 100%;
            background-color: #364c56;
            color: #F3F2EE;
            text-align: center;
            font-family: 'Gotham';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            padding: 10px;
            margin-top: 32px;
            border: none;
            cursor: pointer;
            margin-bottom: 26px;
        }

        .btn:hover {
            background-color: darken(#364c56, 5%);

        }

        .btn-cancel {
            color: #364c56;
        }

    }

    .close-button {
        position: absolute;
        right: -1px;
        top: -8px;
        color: #000;
        cursor: pointer;
    }
}