<section class="redefi-container">
  <mat-icon class="close-button" [mat-dialog-close]="false">close</mat-icon>

  <div class="text">
    <h3>Redefinição de senha</h3>
    <p>Insira abaixo o e-mail utilizado no cadastro. Nós mandaremos um e-mail com o seu CPF/CNPJ e um link para você redefinir sua senha.</p>

    <form [formGroup]="_form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="user@email.com" required formControlName="email">
      </mat-form-field>

      <button [ngStyle]="{backgroundColor: !_form.valid ? '#E4E4E4' : '#364c56'}" class="btn" type="submit" mat-raised-button [disabled]="!_form.valid">Enviar E-mail
      </button>
      <button [matDialogClose]="false" class="btn-cancel" mat-button styel="color: #364c56">Cancelar
      </button>
    </form>

  </div>
</section>