<app-navbar></app-navbar>
<main>
    <section class="background" id="club">
        <div class="background-container">
            <h1>Vantagens & benefícios<br> para ir além do tradicional</h1>
            <p>O primeiro clube de arquitetura de âmbito nacional</p>


        </div>
    </section>

    <section class="about" id="about">
        <div class="about-container">
            <div class="about-title">
                <h4>
                    SOBRE NÓS
                </h4>
                <h2>
                    Somos o seu match perfeito
                </h2>
            </div>
            <div class="about-subtitle">
                <p class="desk">

                    O Arqmatch Club nasceu para prestigiar e reconhecer o trabalho dos arquitetos, designers de
                    interiores,<br>
                    entre outros profissionais especificadores. Somos um clube de relacionamento exclusivo para o
                    mercado da construção civil.<br>
                    Contamos com parceiros associados,
                    clientes em potencial e parceria com as maiores lojas do mercado.<br>
                    <b><i>Temos a preocupação e o cuidado em oferecer as melhores experiências e trazer infinitas
                            oportunidades para você.</i></b>
                </p>
                <p class="resp">
                    O Arqmatch Club nasceu para prestigiar e reconhecer o trabalho dos arquitetos, designers de
                    interiores,
                    entre outros profissionais especificadores. <br><br>Somos um clube de<br> relacionamento exclusivo
                    para o mercado<br> da construção civil.
                    Contamos com parceiros associados,
                    clientes em potencial<br> e parceria com as maiores lojas do mercado.<br><br>
                    <b><i>Temos a preocupação e o cuidado em oferecer as melhores experiências e trazer infinitas
                            oportunidades para você.</i></b>
                </p>
            </div>

            <div class="about-img">
                <img class="img-desk" src="../../../assets/business-team-working-office-worker-concept@2x.png"
                    alt="escritório">
                <img class="img-resp" src="../../../assets/business-team-working-office-resp.png" alt="escritório">
            </div>

        </div>

        <div class="buttons">
            <a href="#">Saiba mais</a>
        </div>

    </section>

    <section class="vantagens" id="">

        <div class="vantagens-container">
            <div class="vant-right">
                <div class="text">
                    <h2>Vantagens& Reconhecimento& Benefícios&</h2>
                </div>
                <div class="subT">
                    <p class="subT-desk">
                        Faça parte de um grupo exclusivo<br>
                        de profissionais
                        especificadores que ganham benefícios por fazer exatamente o que amam.
                    </p>
                    <p class="subT-resp">
                        Faça parte de um grupo exclusivo
                        de<br> profissionais
                        especificadores que<br> ganham benefícios<br> por fazer exatamente o que amam.
                    </p>
                </div>

            </div>
            <div class="vant-left">


                <div class="icon">
                    <div class="icon-p">
                        <img src="../../../assets/Caminho 26.png" alt="icone">
                        <p>Seleção de viagens, vivências e experiências</p>
                    </div>
                    <hr>
                </div>
                <div class="icon">
                    <div class="icon-p">
                        <img src="../../../assets/Caminho 26.png" alt="icone">
                        <p>Aplicativo exclusivo de pontos</p>
                    </div>
                    <hr>
                </div>
                <div class="icon">
                    <div class="icon-p">
                        <img src="../../../assets/Caminho 26.png" alt="icone">
                        <p>Buscador de arquitetos</p>
                    </div>
                    <hr>
                </div>
                <div class="icon">
                    <div class="icon-p">
                        <img src="../../../assets/Caminho 26.png" alt="icone">
                        <p>CRM exclusivo, próprio para área</p>
                    </div>
                    <hr>
                </div>
                <div class="icon">
                    <div class="icon-p">
                        <img src="../../../assets/Caminho 26.png" alt="icone">
                        <p>Ferramenta de gestão de projetos</p>
                    </div>
                    <hr>
                </div>
                <div class="icon">
                    <div class="icon-p">
                        <img src="../../../assets/Caminho 26.png" alt="icone">
                        <p>Plataforma com cursos EAD</p>
                    </div>
                    <hr>
                </div>
                <div class="icon">
                    <div class="icon-p">
                        <img src="../../../assets/Caminho 26.png" alt="icone">
                        <p>Acervo de marketing com materiais completos</p>
                    </div>
                    <hr>
                </div>
                <div class="icon">
                    <div class="icon-p">
                        <img src="../../../assets/Caminho 26.png" alt="icone">
                        <p>Reconhecimento em cerimônia de premiação</p>
                    </div>
                    <hr>
                </div>


            </div>
        </div>
        <div class="box_green">
            <div class="box-text">
                <p>
                    Muito mais que um Clube de Arquitetos, somos um programa de prestígio & reconhecimento
                </p>
            </div>

            <div class="box-center">



                <div class="box-icons">
                    <img src="../../../assets/check_circle_black_48dp.svg" alt="icone de check">
                    <h3>Reconhecimento nacional</h3>
                    <div class="box-text-p">
                        <p>Ser um membro do Arqmatch te proporciona alcance em todo território nacional<br> através de nosso buscador de arquitetos.</p>
                    </div>
                </div>
                <div class="box-icons">
                    <img src="../../../assets/check_circle_black_48dp.svg" alt="icone de check">
                    <h3>Geração de Leads</h3>
                    <div class="box-text-last">

                        <p>Com um buscador de profissionais, esteja presente em nosso site e garanta destaque, além de publicações e campanhas<br> exclusivas em nossas redes.</p>
                    </div>
                </div>

                <div class="box-icons">
                    <img src="../../../assets/check_circle_black_48dp.svg" alt="icone de check">
                    <h3>Divulgação de Projetos</h3>
                    <div class="box-text-p">

                        <p>Anexe seus projetos e mostre o<br> seu trabalho para mais de milhares de clientes potenciais.
                        </p>
                    </div>
                </div>


            </div>
        </div>

    </section>

    <section class="cadastre">

        <div class="cadastre-container">
            <div class="cadastre-text">
                <h3 class="h3-desk">Quer se tornar<br> um membro?<br> Faça parte do Arqmatch, sua combinação perfeita!
                </h3>
                <h3 class="h3-resp">Quer se tornar um membro? Faça parte do Arqmatch, sua combinação perfeita!
                </h3>

                <div class="buttons-desk">
                    <a href="#">Cadastre-se</a>
                </div>
            </div>

            <div class="cadastre-img">
                <img src="../../../assets/two-smiling-businessmen-shaking-hands-while-standing-office@2x.png"
                    alt="pessoas se comprimentando">
            </div>


            <div class="button-mobile">
                <a href="#">Saiba mais</a>
            </div>
        </div>
    </section>

    <section class="parceiro">
        <div class="parceiro-container">
            <div class="parceiro-center">

                <div class="parceiro-text">
                    <h3>
                        Ofereça o melhor<br> para o seu cliente
                    </h3>

                    <p class="h3-resp">
                        Seja parceiro da<br> maior rede de acabamentos do Brasil
                                        </p>
                    <div class="parceiro-p ">
                        <p class="">
                            Eleve o padrão de qualidade do serviço
                        </p>

                    </div>
                </div>

                <div class="parceiro-icons">
                    <div class="parceiro-left">
                        <img src="../../../assets/done_black_48dp.svg" alt="check">
                        <div class="parceiro-left-p">

                            <p>Especifique com nossos parceiros</p>
                        </div>
                    </div>
                    <div class="parceiro-left">
                        <img src="../../../assets/done_black_48dp.svg" alt="check">
                        <div class="parceiro-left-p-sec">

                            <p>Indique as melhores marcas do mercado</p>
                        </div>
                    </div>
                    <div class="parceiro-left">
                        <img src="../../../assets/done_black_48dp.svg" alt="check">
                        <div class="parceiro-left-p-th">

                            <p>Trabalhe com os melhores pisos & acabamentos</p>
                        </div>
                    </div>
                    <div class="parceiro-left">
                        <img src="../../../assets/done_black_48dp.svg" alt="check">
                        <div class="parceiro-left-p-th">

                            <p>Faça seu projeto já com produtos em estoque</p>
                        </div>
                    </div>
                    <div class="parceiro-left">
                        <img src="../../../assets/done_black_48dp.svg" alt="check">
                        <div class="parceiro-left-p-th">

                            <p>Tenha praticidade na negociação</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>

    <section class="maps">
        <div class="parceiro-img">
            <div class="img-center" style="height:480px; border:2px solid #eee; display:inline-block; overflow:hidden;position: relative;">
                <iframe src="https://www.google.com/maps/d/embed?mid=12kv2rt0TapJnxLXZtUUrXSZW3i4rZEM&ehbc=2E312F" width="640" height="480"></iframe>
            </div>
            <div class="local">
                <div class="local-text">
                    <h2 class="local-text-p">
                        Estamos presentes em todas as regiões do Brasil
                    </h2>
                    <div class="local-sub">
                        <p>Aumente suas chances<br> de fidelizar novos clientes.</p>
                    </div>

                </div>

            </div>
        </div>
    </section>


</main>

<app-footer></app-footer>